environment:
  build_version: 4.0.0
  Version: $(build_version)-Beta%APPVEYOR_BUILD_NUMBER%
  COVERALLS_REPO_TOKEN:
    secure: YF62Z8zohfAWBzPGACl+7cC9+26ZLZbVvCTd0SdtjRyCJMr21azzvEQ5c+z7cz9q
version: $(build_version)-{build}
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(build_version).0'
  assembly_file_version: '$(build_version).{build}'
  assembly_informational_version: '$(build_version)'
before_build:
- cmd: nuget restore EasyRpc.sln
build:
  project: EasyRpc.sln
  publish_nuget: true
  verbosity: minimal
test_script:
- cmd: cd tests/EasyRpc.Tests/
- cmd: CodeCoverageAppVeyor.cmd
- sh: dotnet test tests/EasyRpc.Tests/EasyRpc.Tests.csproj
artifacts:
- path: EasyRpc*.nupkg
  name: EasyRpc
image:
- Visual Studio 2017
- Ubuntu
